<% if User.current.allowed_to?(:edit_tags, @projects || @project) %>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:tags) %></a>
    <ul>
      <li><%= context_menu_link l(:button_add),
                                edit_issue_tags_path(:ids => @issue_ids),
                                :remote => true,
                                :class => 'icon icon-add' %></li>
    </ul>
  </li>
<% end %>
