[submodule "plugins/redmine_elasticsearch"]
	path = plugins/redmine_elasticsearch
	url = https://github.com/ruby/redmine_elasticsearch.git
[submodule "plugins/redmine_resque"]
	path = plugins/redmine_resque
	url = https://github.com/ruby/redmine_resque.git
