[submodule "plugins/redmine_s3"]
	path = plugins/redmine_s3
	url = https://github.com/ruby/redmine_s3.git
[submodule "plugins/redmine_ruby_lang_mailing_list_customization"]
	path = plugins/redmine_ruby_lang_mailing_list_customization
	url = https://github.com/ruby/redmine_ruby_lang_mailing_list_customization.git
