@import url(../../../stylesheets/responsive.css);

@media screen and (max-width: 899px) {
    #top-menu {
        background: #602020;
        color: #fff;
    }
    #header {
        background-color: #8A4040;
        color: #f8f8f8;
    }
    #main-menu li a.new-object {
        background-color: #8A4040;
        color: #f8f8f8;
    }
}
